--- layout: default title: Danish ---

<h2 class="title is-2">Danish</h2>
<div class="columns">
  <div class="column is-6">
    <h3 class="title is-4">Tried</h3>
    {% assign danish_tried_sorted = site.data.danish.tried | sort: 'name' %} {% include whiskys.html whiskys=danish_tried_sorted tableID="danishTried" triedTable=true %}
  </div>

  <div class="column is-5 is-offset-1">
    <h3 class="title is-4">To Try</h3>
    {% if site.data.danish.to_try %} {% assign danish_to_try_sorted = site.data.danish.to_try | sort: 'name' %} {% include whiskys.html whiskys=danish_to_try_sorted tableID="danishToTry" toTryTable=true %} {% endif %} {% include whisky_suggestion.html name="danish"
    %}
  </div>
</div>
