---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-10">
        <h1>Whisk(e)y</h1>
        <div class="row">
            <div class="col-12">
                <h2>Scotch</h2>
            </div>
            <div class="col-6">
                <h3>Tried</h3>
                {% assign scotch_tried_sorted = (site.data.scotch.tried | sort: 'name') %}
                {% include whiskys.html whiskys=scotch_tried_sorted %}
            </div>

            <div class="col-6">
                <h3>To Try</h3>
                {% assign scotch_to_try_sorted = (site.data.scotch.to_try | sort: 'name') %}
                {% include whiskys.html whiskys=scotch_to_try_sorted %}
                {% include whisky_suggestion.html name="scotch" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Irish</h2>
            </div>
            <div class="col-6">
                <h3>Tried</h3>
                {% assign scotch_tried_sorted = (site.data.irish.tried | sort: 'name') %}
                {% include whiskys.html whiskys=irish_tried_sorted %}
            </div>

            <div class="col-6">
                <h3>To Try</h3>
                {% assign irish_to_try_sorted = (site.data.irish.to_try | sort: 'name') %}
                {% include whiskys.html whiskys=irish_to_try_sorted %}
                {% include whisky_suggestion.html name="irish" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Bourbon</h2>
            </div>
            <div class="col-6">
                <h3>Tried</h3>
                {% assign bourbon_tried_sorted = (site.data.bourbon.tried | sort: 'name') %}
                {% include whiskys.html whiskys=bourbon_tried_sorted %}
            </div>

            <div class="col-6">
                <h3>To Try</h3>
                {% assign bourbon_to_try_sorted = (site.data.bourbon.to_try | sort: 'name') %}
                {% include whiskys.html whiskys=bourbon_to_try_sorted %}
                {% include whisky_suggestion.html name="bourbon" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Japanese</h2>
            </div>
            <div class="col-6">
                <h3>Tried</h3>
                {% assign japanese_tried_sorted = (site.data.japanese.tried | sort: 'name') %}
                {% include whiskys.html whiskys=japanese_tried_sorted %}
            </div>

            <div class="col-6">
                <h3>To Try</h3>
                {% assign japanese_to_try_sorted = (site.data.japanese.to_try | sort: 'name') %}
                {% include whiskys.html whiskys=japanese_to_try_sorted %}
                {% include whisky_suggestion.html name="japanese" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>English</h2>
            </div>
            <div class="col-6">
                <h3>Tried</h3>
            </div>
            <div class="col-6">
                <h3>To Try</h3>
                {% assign english_to_try_sorted = (site.data.english.to_try | sort: 'name') %}
                {% include whiskys.html whiskys=english_to_try_sorted %}
                {% include whisky_suggestion.html name="english" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Welsh<h2>
            </div>
            <div class="col-6">
                <h3>Tried</h3>
            </div>
            <div class="col-6">
                <h3>To Try</h3>
                {% assign welsh_to_try_sorted = (site.data.welsh.to_try | sort: 'name') %}
                {% include whiskys.html whiskys=welsh_to_try_sorted %}
                {% include whisky_suggestion.html name="welsh" %}
            </div>
        </div>
    </div>
  </div>
</div>
