---
layout: default
title: Irish
---

<h2 class="title is-2">Irish</h2>
<div class="columns">
  <div class="column is-6">
    <h3 class="title is-4">Tried</h3>
    {% assign irish_tried_sorted = (site.data.irish.tried | sort: 'name') %}
    {% include whiskys.html whiskys=irish_tried_sorted tableID="irishTried" displayOwned=true %}
  </div>

  <div class="column is-6">
    <h3 class="title is-4">To Try</h3>
    {% assign irish_to_try_sorted = (site.data.irish.to_try | sort: 'name') %}
    {% include whiskys.html whiskys=irish_to_try_sorted tableID="irishToTry" %}
    {% include whisky_suggestion.html name="irish" %}
  </div>
</div>
