---
layout: default
---

<h2 class="title is-2">Japanese</h2>
<div class="columns">
    <div class="column is-6">
        <h3 class="title is-4">Tried</h3>
        {% assign japanese_tried_sorted = (site.data.japanese.tried | sort: 'name') %}
        {% include whiskys.html whiskys=japanese_tried_sorted table-id="japaneseTried" %}
    </div>

    <div class="column is-6">
        <h3 class="title is-4">To Try</h3>
        {% assign japanese_to_try_sorted = (site.data.japanese.to_try | sort: 'name') %}
        {% include whiskys.html whiskys=japanese_to_try_sorted table-id="japaneseToTry"  %}
        {% include whisky_suggestion.html name="japanese" %}
    </div>
</div>
