{% assign whisky_type = include.name | downcase %}

{% capture table_tried_id %}{{ '_tried' | prepend: whisky_type }}{% endcapture%}
{% capture table_to_try_id %}{{ '_to_try' | prepend: whisky_type }}{% endcapture%}

<h2 class="title is-2">{{ include.name }}</h2>
<div class="columns">
  <div class="column is-6">
    <h3 class="title is-4">Tried</h3>
    {% if site.data[whisky_type].tried %}
      {% assign tried_sorted = site.data[whisky_type].tried | sort: 'name' %}
      {% include whiskys.html whiskys=tried_sorted table_id=table_tried_id table_tried=true %}
    {% endif %}
  </div>

  <div class="column is-5 is-offset-1">
    <h3 class="title is-4">To Try</h3>
    {% if site.data[whisky_type].to_try %}
      {% assign to_try_sorted = site.data[whisky_type].to_try | sort: 'name' %}
      {% include whiskys.html whiskys=to_try_sorted table_id=table_to_try_id table_to_try=true %}
    {% endif %}
    {% include whisky_suggestion.html name=whisky_type %}
  </div>
</div>
