{% assign whisky_counter = 0 %}
{% assign whisky_counter_owned = 0 %}

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth has-sticky-header" id="{{include.table_id}}">
  <thead>
    <tr>
      <th scope="col" class="sort" data-sort="name">Name <i class="fas fa-sort"></i></th>
      {% if include.table_tried %}
      <th scope="col" class="rating-title sort has-text-centered" data-sort="rating">Rating (0 to 3) <i class="fas fa-sort"></i></th>
      {% endif %}
      <th scope="col" class="owned sort has-text-centered" data-sort="owned">Owned <i class="fas fa-sort"></i></th>
      <th scope="col" class="link has-text-centered">Link</th>
    </tr>
  </thead>
  
  <tbody class="list{% if include.table_tried %} tried{% else %} to_try{% endif %}">
    {% for whisky in include.whiskys %}
      {% assign whisky_counter = whisky_counter | plus: 1 %}
      {% assign total_rating = total_rating | plus: whisky.rating %}
    {% if whisky.owned %}
      {% assign whisky_counter_owned = whisky_counter_owned | plus: 1 %}
    {% endif %}
      <tr class="whisky-{{ whisky_counter }}">
        <td class="name pt-2 pb-2" scope="row">{{ whisky.name }}</td>
        {% if include.table_tried %}
        <td class="rating pt-2 pb-2 has-text-centered">{{ whisky.rating }}</td>
       	{% endif %}
       	<td class="owned pt-2 pb-2 has-text-centered">{{ whisky.owned | default: "no" | replace: "true", "yes" | replace: "false", "no" }}</td>
        {% if whisky.link %}
        <td class="link pt-2 pb-2 has-text-centered"><a href="{{ whisky.link }}">Link</a></td>
        {% else %} 
        <td class="link pt-2 pb-2 has-text-centered"><a href="https://www.masterofmalt.com/search/#search={{ whisky.name | url_encode }}">Link</a></td>
        {% endif %}
      </tr>
    {% endfor %}

    {% assign mean_rating = total_rating | times: 1000 | divided_by: whisky_counter %}
    {% assign mean_rating = mean_rating | divided_by: 1000.0 %}

    {% if include.table_tried %}
      <tr class="unsortable tried totals">
        <td class="name pt-2 pb-2" scope="row">Total: {{ whisky_counter }}</td>
        <td class="pt-2 pb-2 has-text-centered" scope="row">Mean: {{ mean_rating }}</td>
        <td class="pt-2 pb-2 has-text-centered" scope="row">Owned: {{ whisky_counter_owned }}</td>
        <td class="pt-2 pb-2" scope="row"></td>
      </tr>
    {% else %}
      <tr class="unsortable to_try totals">
        <td class="name pt-2 pb-2" scope="row">Total: {{ whisky_counter }}</td>
        <td class="pt-2 pb-2 has-text-centered" scope="row">Owned: {{ whisky_counter_owned }}</td>
        <td class="pt-2 pb-2" scope="row"></td>
      </tr>
    {% endif %}
  </tbody>
</table>

<script type="text/javascript">
  var options = {
    valueNames: [ 'name', 'rating', 'owned' ]
  };

  {% if include.table_tried %}
    var whiskyListTried = new List('{{include.table_id}}', options);
    makeRowsUnsortable(whiskyListTried, '.list.tried', '.unsortable.tried');
  {% else %}
    var whiskyListToTry = new List('{{include.table_id}}', options);
    makeRowsUnsortable(whiskyListToTry, '.list.to_try', '.unsortable.to_try');
  {% endif %}
</script>
