<!-- <input class="search" placeholder="Search" /> -->
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="{{include.tableID}}">
  <thead>
    <tr>
      <th scope="col" class="sort" data-sort="name">Name</th>
      <th scope="col" class="rating-title sort" data-sort="rating">Rating (out of 3)</th>
      {% if include.displayOwned %}<th scope="col" class="owned sort" data-sort="owned">Owned</th>{% endif %}
    </tr>
  </thead>
  <tbody class="list">
    {% for whisky in include.whiskys %}
    <tr>
      <td class="name" scope="row">{{ whisky.name }}</td>
      <td class="rating">{{ whisky.rating | default: "n/a"}}</td>
      {% if include.displayOwned %}<td class="owned">{{ whisky.owned | default: "no" | replace: "true", "yes" }}</td>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" integrity="sha384-JDmRxRiXkNkskRM5AD4qHRGk9ItwZ9flbqOpsRYs8SOrIRwcMtTGKP2Scnjptzgm" crossorigin="anonymous"></script>
<script>
  var options = {
    valueNames: [ 'name', 'rating', 'owned' ]
  };

  var whiskyList = new List('{{include.tableID}}', options);
</script>
