---
---

.navbar {
  flex-wrap: wrap;
}

.navbar-menu {
  flex-shrink: 1;
}

.navbar-start {
  flex-wrap: wrap;
}

tbody tr th {
    font-weight: normal;
}

th.rating-title, td.rating  {
    text-align: center;
}

th.sort {
  cursor: pointer;
}

.hidden {
  display: none;
}
