<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Whisky</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha384-n+0XPuNbU1PaXosJ2ARqt1UgnvuTZqsh+D9uoJRHCanp/VOTJXtZaWOzCzwMZF0n" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title is-2">Whisky</h1>
        </a>
      </div>

      <div class="navbar-menu is-active" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item {% if page.title == 'Scotch' %}is-active{% endif %}" href="/scotch">Scotch</a>
          <a class="navbar-item {% if page.title == 'Irish' %}is-active{% endif %}" href="/irish">Irish</a>
          <a class="navbar-item {% if page.title == 'American' %}is-active{% endif %}" href="/american">American</a>
          <a class="navbar-item {% if page.title == 'Japanese' %}is-active{% endif %}" href="/japanese">Japanese</a>
          <a class="navbar-item {% if page.title == 'English' %}is-active{% endif %}" href="/english">English</a>
          <a class="navbar-item {% if page.title == 'Welsh' %}is-active{% endif %}" href="/welsh">Welsh</a>
        </div>
        <div class="navbar-end"></div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {{ content }}
      </div>
    </section>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
  </body>
</html>
